.header {
    background-color: #141a29;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 32px;
    border-radius: 10px;
    width: 100%;
}

.content {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}
.link {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.logo span {
    color: #ffbb33;
}

.link:hover {
    color: #ffbb33;
}

.loginButton {
    background-color: #131211;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
}


.button {
    background-color: #242320;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
}
